ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
li {
    margin-right: 1rem;
}
.tableItem_title {
    font-weight: bold;
}
.tableItem_menu ul {
    display: flex;
    flex-direction: column;
}